.portfolio-container {
  text-align: center;
  background-color: #000;
  background-image: url('../assets/bgservice.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  @media (max-width: 1280px) and (min-width: 992px){

  }

}

.portfolio-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.header-content {
  flex: 1;
  text-align: left;
}

.portfolio-heading {
  font-size: 70px;
  font: normal normal normal 40px/90px Poppins;
  line-height: 10px;
  color: #fff;
  margin-left: 50px;
  margin-top: 50px;
  margin-left: 40%;

  @media (max-width: 1280px) and (min-width: 992px){
    margin-left: 80px;
}
}
.portfolio-heading span {
  font-size: 50px;
  color: red;

  @media (max-width: 1280px) and (min-width: 992px){
    font-size: 40px;
    
    
  }
}

.portfolio-links {
  display: flex;
  gap: 30px;
  font: normal normal bold 25px/38px Poppins;
  color: #fff;
  margin-right: 30%;

  @media (max-width: 1280px) and (min-width: 992px){
    display: flex;
  gap: 40px;
  font: normal normal bold 18px Poppins;
  color: #fff;
  margin-right: 20%;
  }
}

.portfolio-links span {
  cursor: pointer;
  transition: color 0.3s ease;
}

.portfolio-links span:hover, .portfolio-links .active {
  color: #FFBB00;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 70px 00px;

  @media (max-width: 1280px) and (min-width: 992px){
    margin-top: -80px;
  }
}



.portfolio-card {
  position: relative;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.portfolio-img {
  width: 100%;
  height: 100%;
}

.toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
  margin-bottom: 40px;
}

.rect-toggle1, .rect-toggle2 {
  width: 50px;
  height: 5px;
  background-color: #666;
  border-radius: 5px;
  cursor: pointer;
  transition: width 0.3s ease, background-color 0.3s ease;
}

.rect-toggle1.active, .rect-toggle2.active {
  width: 100px;
  background-color: #FFBB00;
}
